DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=change-me
DATABASE_NAME=employee_scheduler
DATABASE_SSLMODE=disable
SOLVER_API_KEY=local-dev-key
SOLVER_BASE_URL=http://localhost:8080
HTTP_PORT=8081
CORS_ORIGIN=http://localhost:5173
